body {
    margin: 0;
    min-height: 100vh;
    background-image: url("praytogod.pdf");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
